.darknavwrap {
	background-color: #23856d;
}

.darknav,
.lightnav {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1439px;
	height: 58px;
	margin: 0 auto;
}

.lightnav {
	position: sticky;
}

.darknav div,
.darknav img,
.lightnav div,
.lightnav img {
	display: flex;
	align-items: center;
}

.darknav img {
	width: 16px;
	margin-left: 15px;
}

.contact img {
	margin-right: 5px;
}

.phone {
	margin-right: 25px;
}

.sitesections,
.userarea {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}

.userarea {
	color: #23a6f0;
}

a {
	text-decoration: none;
	margin-right: 25px;
	color: #737373;
}

.userarea img {
	margin-right: 35px;
}

.login img {
	margin-right: 15px;
}

.logo {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #252b42;
	padding-bottom: 0;
	margin-right: 95px;
}

.lightnav img {
	width: 16px;
}

.carttotal img {
	margin-top: 0;
	margin-right: 20px;
}

.carttotal p {
	color: deepskyblue;
	margin-left: 5px;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	width: 20px;
	padding: 0 2px 0 2px;
}

/*Hero section*/

.herocontent {
	display: flex;
	align-items: center;
	width: 1146pxpx;
	height: 776pxpx;
	padding: 80px 0px 80px 0px;
	gap: 12px;
}

.firstcolumn img {
	width: 452px;
	height: 616px;
	text-align: center;
}

.secondcolumn img {
	width: 679px;
	height: 300px;
	display: flex;
	margin-bottom: 13px;
}

.thirdsection {
	display: flex;
	align-items: center;
	gap: 14px;
}

.thirdsection img {
	justify-content: center;
	width: 332px;
	height: 300px;
}

.herocontent div,
.herocontent img {
}

.hero {
	display: flex;
	justify-content: center;
}

.hero h6 {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #2dc071;
}

.hero h2 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
}

.firstoverlay {
	position: absolute;
	bottom: 150px;
	left: 220px;
}

.secondoverlay {
	position: absolute;
	top: 200px;
	left: 690px;
}

.thirdoverlay {
	position: absolute;
	bottom: 300px;
	left: 500px;
}

.fourthoverlay {
	position: absolute;
	bottom:;
}
.servicehead {
	margin-bottom: 80px;
}
.servicehead h2 {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color: #737373;
}

.servicehead h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	color: #252b42;
}

.servicehead p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color: #737373;
}

.servicebody {
	display: flex;
	align-items: center;
	width: 1045px;
	text-align: center;
	gap: 30px;
	margin: 0 auto;
}

.servicebody div {
	width: 328px;
}

.servicebody p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color: #737373;
	word-wrap: normal;
}

.servicebody h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	color: #252b42;
}

.advice {
	text-align: center;
}

.featuredposts {
	display: flex;
	column-gap: 10px;
	margin: 0 auto;
	width: 1050px;
}

.trending {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

.trending p {
	color: #737373;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
}

.trending > p:first-child {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #8ec2f2;
}

.featuredposts h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #252b42;
}

.featuredposts h4,
.featuredposts h6,
.postcontent {
	margin-top: 10px;
}

.dateandcomments p {
	color: #737373;
}

.postcontent {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #737373;
}

.dateandcomments,
.dateandcomments div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dateandcomments p {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #737373;
}

.dateandcomments img {
	margin-right: 5px;
}

.postdetails {
	width: 348px;
	height: 306px;
	padding: 25px 25px 35px 25px;
	opacity: 0px;
}

.featuredposts h6:last-child {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #737373;
}

.reviewwrap {
	width: 1128px;
	height: 682px;
	padding: 80px, 0px, 80px, 0px;
	margin: 0 auto;
}

.review {
	height: 682px;
	padding: 48px;
	column-gap: 130px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.reviewer {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
}

.reviewerpic {
	margin: 0px 0 20px 0;
}

.slate {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color: #737373;
	margin: 20px 0 20px 0;
}

.reviewer p {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color: #23a6f0;
}

.role {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	color: #252b42;
	margin-top: 0;
}

.reviewwrap p {
	margin-bottom: 0;
}

.imagegrid {
	display: grid;
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 426px;
	gap: 17px;
}

.imagegrid img {
	flex-basis: calc(100% / 4);
}

.utensilswrap {
	background-image: url("../../assets/landing_page/utensilsbg.svg");
	background-size: 100%;
	width: 100%;
	height: 640px;
}

.utensils {
	display: block;
	width: 1050px;
	height: 640px;
	left: 195px;
	padding: 160px 0px 112px 0px;
	margin: 0 auto;
	text-align: center;
}

.utensils h6 {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	color: #23a6f0;
	margin: 0 0 30px 0;
}

.utensils h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.20000000298023224px;
	margin: 30px 0 30px 0;
}

.utensils p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.20000000298023224px;
	color: #737373;
	margin: 30px 0 30px 0;
}

.utensils h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.10000000149011612px;
	text-align: center;
	color: #23856d;
	margin-bottom: 30px;
}

.utensilsbtn {
	display: flex;
	align-items: center;
	width: 292px;
	height: 52px;
	padding: 15px 40px 15px 40px;
	border: 0;
	border-radius: 5px;
	background-color: #23a6f0;
	margin: 0 auto;
}

.utensilsbtn p {
	color: white;
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}

footer {
	background: #fafafa;
}

.bottomnav {
	width: 100%;
	height: 50px;
	padding: 40px 0px 40px 0px;
	margin: 0 auto;
}

.bottomnav > div:first-child {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.socials img {
	margin-right: 25px;
}

.footerlinks {
	display: flex;
	justify-content: space-around;
	column-gap: 30px;
	width: 1050px;
	margin: 0 auto;
}

.footerlinkswrap {
	background-color: white;
	width: 100%;
}

.footerlinks a {
	font-size: 14px;
	font-weight: 700;
	line-height: 1px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #737373;
	margin-bottom: 50px;
}

.footerlinks h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.10000000149011612px;
	text-align: left;
	color: #252b42;
}

.search p {
	font-size: 12px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #737373;
}
input[type="text"] {
	height: 56px;
	width: 321px;
	border-radius: 5px 0px 0px 5px;
	border: 1px;
	background-color: #e6e6e6;
}

form button {
	width: 117px;
	height: 58px;
	color: white;
	background-color: #23a6f0;
	border-radius: 0px 5px 5px 0px;
	border: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
}

::placeholder {
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #737373;
	margin-left: 15px;
}

.copyright {
	width: 1200px;
	height: 74px;
	top: 414px;
}

.copyright div {
	width: 1050px;
	height: 74px;
	display: flex;
	justify-content: flex-start;
}

.copyright h6 {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;
	color: #737373;
}
