.product-img {
	width: 510px;
}

.product-view {
	display: flex;
	justify-content: center;
	gap: 80px;
}

.crumbs .home {
	font-weight: 700;
}

.crumbs .arrow,
.shop {
	font-weight: 700;
	color: gray;
}

.rating,
.colors {
	display: flex;
	align-content: center;
}

.colors div {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 70px 10px 30px 0;
}

.blue {
	background-color: #23a6f0;
}

.green {
	background-color: #2dc071;
}

.orange {
	background-color: #e77c40;
}

.black {
	background-color: black;
}

button span {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: center;
	display: flex;
	align-items: center;
}

.select button,
.select img {
	margin-right: 20px;
}

.product-view button {
	width: 148px;
	height: 44px;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #23a6f0;
	color: white;
}

.longpara {
	display: flex;
	margin: 90px 0 90px 0;
	justify-content: center;
}

.para {
	width: 599px;
	height: 327px;
	margin-right: 80px;
}

.sponsors {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 50px;
}
